.wrapper

  .header
    .header__name
      BLOGGG
    .header__logo
      .header__logo4
        %li
          %a{:href => "/posts/new"} 新規投稿       
      .header__logo3
        %li
          %a{:href => "/users/sign_in"} 
            サインイン
      .header__logo2
        %li
          %a{:href => "/users/sign_up"} 新規登録
      .header__logo1  
        %li
          = link_to "/users/sign_out",method: :delete do 
            - if user_signed_in?
              ログアウト
  .content
    - @posts.each do |post|
      .content-box
        .content-box__tilte
          = post.title
        .content-box__content
          = post.content 
        .content-box__destroy
          = link_to "/posts/#{post.id}", method: :delete do
            削除
        .content-box__edit    
          = link_to "/posts/#{post.id}/edit", method: :get do
            編集